# Ajouter dans /etc/odbc.ini (2 DSN requis par le serveur)
[T4C Server Authentication]
Driver   = MariaDB ODBC Driver
Server   = 127.0.0.1
Port     = 3306
Database = t4c_server
User     = t4cuser
Password = T4Cpass2026!

[T4C Server]
Driver   = MariaDB ODBC Driver
Server   = 127.0.0.1
Port     = 3306
Database = t4c_server
User     = t4cuser
Password = T4Cpass2026!
